.nowrap {
    display: inline-block;
    white-space: nowrap;

}

#clickTag {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 300px;
    height: 250px;
}

/*DISCLAIMER*/


#footer {
    width: 100%;
    height: 84px;
    padding: 0px 0px;
    background: #ffffff;
    float: left;
    color: rgb(0, 0, 0);
    font: 9px/20px 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 8999;
    border-top:solid 1px #000;

}

.titleIsi {
    font-size: 11px;
}
.subtitleIsi {
    font-size: 9px;
}

#footer .viewport {
    width: 280px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 7px;
    color: #000;
}

#footer .overview {
    position: absolute;
    height: 1006px;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0px;
    line-height: 130%;
}

#footer #scrollHere {
    position: absolute;
    right: 0px;

}

 #scrollHere img {
    width: 70px;
    height: 8px;
}

#footer p {
    font-size: 9px;
    line-height: 12px;
    text-decoration: none;

}



#button {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 15px;

}
/*
#button-l,
#button-r {
    font-family: arial, helvetica, sans-serif;
    width: 143px;
    height: 15px;
    float: left;
    background-color: RGB(72, 72, 72);
    color: #ffffff;
    font-size: 8px;
    font-weight: lighter;
    line-height: 16px;
    text-align: center;
    padding-left: 6px;
    letter-spacing: 0.2px;
}*/

#button-l {
    float: left;
    font-family: arial, helvetica, sans-serif;
    border-right: 1px #fff solid;
    width: 144px;
    height: 15px;
    float: left;
    background-color: RGB(72, 72, 72);
    color: #ffffff;
    font-size: 8px;
    font-weight: lighter;
    line-height: 16px;
    text-align: center;
    padding-left: 6px;
    letter-spacing: 0.2px;

}

#button-r {
    float: right;
        font-family: arial, helvetica, sans-serif;
    width: 149px;
    height: 15px;
    float: left;
    background-color: RGB(72, 72, 72);
    color: #ffffff;
    font-size: 8px;
    font-weight: lighter;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
}







#footer .scrollbar {
    background: transparent url(../assets/bar.png) no-repeat 0 0;
    background-size: 3px 60px;
    position: relative;
    background-position: 0 0;
    float: right;
    width: 3px;
    top: 6px;
    height: 60px !important;
    right: 5px;
}

#footer .track {
    height: 30px !important;
    width: 6px;
    position: relative;
    padding: 0 1px;
}

#footer .thumb {
    background: transparent url(../assets/scroll.png) no-repeat 50% 100%;
    background-size: 3px 10px;
    height: 10px !important;
    width: 3px;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0px;
}

#footer .thumb .end {
    overflow: hidden;
    height: 5px;
    width: 25px;
}

#footer .disable {
    display: none;
}

.noSelect {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.first {
        position: absolute;
    z-index: 300;
}
/*IE*/


@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {


    #footer a {
        cursor: auto;
    }

    #footer a:any-link {
        cursor: auto;
    }
}


/*MOZ*/

@-moz-document url-prefix() {
    #footer {
        padding: 0px 0px 0px 0px;
    }

    #footer .scrollbar {
        top: 6px !important;
        right: 5px;
    }
    
    #footer .overview {
        height: 1015px;
    }


    strong {
        font-weight: bold;
    }

}

@media screen and (min-width:0\0) { 
     #footer .overview {
        height: 1017px;
    }
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #footer .overview {
        height: 1010px;
    }
}
*/